.section {
  width: 100%;
  background-color: $body_sides_color;

  &__title {
    background-color: $art_title_bg;
    border-radius: 7px 7px 0 0;
    margin: auto;
    max-width: fit-content;
    padding: 5px;
    scroll-margin: 50px 0 0 0;
  }
}
