.container {
  max-width: 1000px;
  background-color: red;
  margin: 0 auto;
  padding: 5px;
  &--menu {
    display: flex;
    gap: 5px;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
