$txt_universal_color: rgb(221, 241, 225); //lime
// $txt_universal_color: black;
$txt_link_normal: rgba(0, 0, 0, 0.7);
// $txt_link_focus: rgb(0, 136, 255);//niebieski
// $txt_link_focus: rgb(169, 118, 8); //braz
// $txt_link_focus: rgba(234, 160, 0, 0.9); //pomarancz
// $txt_link_focus: rgba(68, 136, 255, 0.9); //niebieski
// $txt_link_focus: rgba(0, 113, 179, 0.9); //brudny niebieski
// $txt_link_focus: rgb(136, 134, 132); //szary
// $txt_link_focus: rgb(241, 253, 255); //morski biały
$txt_link_focus: rgb(0, 12, 14); //morski czarny

// $body_sides_color: rgb(244, 253, 255); //białoniebieski
// $body_sides_color: rgb(255, 254, 244); //beżowy
$body_sides_color: rgb(147, 172, 169); //morski ciemny
// $body_middle_color: rgb(161, 211, 255, 0.5); //niebieski
// $body_middle_color: rgba(128, 170, 206, 0.3); //niebiesko-szary
// $body_middle_color: rgba(179, 178, 149, 0.3); //lime-szary
// $body_middle_color: rgba(130, 130, 115, 0.3); //lime-szary
// $body_middle_color: rgba(135, 188, 216, 0.3); //cieplejszy niebiesko-szary
// $body_middle_color: rgba(182, 212, 227, 0.3); //jasniejszy niezrobiony
// $body_middle_color: rgba(170, 171, 171, 0.5); //szary
$body_middle_color: rgba(25, 73, 83, 0.3); //morski
// $navigation_bg: rgba(53, 83, 136, 0.2); //jasnoszary przezroczysy
// $navigation_bg: rgba(206, 218, 239, 0.6); //jasnoszary przezroczysy
// $navigation_bg: rgba(206, 212, 222, 0.95); //jasnoszary
// $navigation_bg: rgba(230, 230, 230, 0.99); //kolor pomiędzy
// $navigation_bg: rgba(208, 230, 232, 0.99); //zimny niebieski
// $navigation_bg: rgb(244, 253, 255); //białoniebieski jak tło
// $navigation_bg: rgb(255, 254, 244); //beżowy jak tło
$navigation_bg: rgb(147, 172, 169); //morski jak tło
// $navigation_bg: rgb(163, 198, 204); //morsko-szary

// $button_bg_normal: rgb(255, 255, 255, 0.9); //biały
$button_bg_normal: rgb(223, 230, 224); //lime gray
$button_txt_normal: black;
// $button_bg_focus: rgb(100, 157, 255, 0.9); //niebieski
// $button_bg_focus: rgba(100, 147, 175, 0.9); //brudny niebieski
// $button_bg_focus: rgba(255, 187, 41, 0.9); //pomarańczowy
// $button_bg_focus: rgba(88, 60, 0, 0.9); //brązowy
// $button_bg_focus: rgba(83, 82, 80, 0.9); //szary
$button_bg_focus: rgba(58, 97, 105, 0.9); //morski
$button_txt_focus: white;

// $art_title_bg: rgb(255, 255, 255, 0.5);
// $art_content_bg: rgb(255, 255, 255, 0.5);
// $art_header_bg: rgb(255, 255, 255, 0.5);
// $art_footer_bg: rgb(255, 255, 255, 0.5);
// $gallery_item_bg: rgb(255, 255, 255, 0.5);

$art_title_bg: rgba(0, 0, 0, 0.1);
$art_content_bg: rgb(0, 0, 0, 0.1);
$art_header_bg: rgb(0, 0, 0, 0.1);
$art_footer_bg: rgb(0, 0, 0, 0.1);
$gallery_item_bg: rgb(0, 0, 0, 0.1);
