$txt_universal_color: black;
$txt_link_normal: rgba(0, 0, 0, 0.7);
$txt_link_focus: rgb(0, 136, 255);

$body_sides_color: rgb(244, 253, 255);
// $body_middle_color: rgb(161, 211, 255, 0.5);//niebieski
// $body_middle_color: rgba(128, 170, 206, 0.3);//niebiesko-szary
$body_middle_color: rgba(135, 188, 216, 0.3); //cieplejszy niebiesko-szary
$navigation_bg: rgba(53, 83, 136, 0.2);

$button_bg_normal: rgb(255, 255, 255, 0.7);
$button_txt_normal: black;
$button_bg_focus: rgb(100, 157, 255, 0.7);
$button_txt_focus: white;

$art_title_bg: rgb(255, 255, 255, 0.5);
$art_content_bg: rgb(255, 255, 255, 0.5);
$art_header_bg: rgb(255, 255, 255, 0.5);
$art_footer_bg: rgb(255, 255, 255, 0.5);
$gallery_item_bg: rgb(255, 255, 255, 0.5);
